#jumbotron {
    min-width: 585px;
    margin: 10px auto;
    justify-content: center;
    margin: 200px 200px 200px 200px;
}

hr {
    width: 23%;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    border-top: 0.25px solid lightgrey
}

#quiz, #summary, #answer-status, #summary {
    display: none;
    text-align: center;
    margin: 5px;
}

#finalscore, #highscore {
    text-align: center;
    margin: 5px;
}

#quiz h2 {
    font-size: 20px;
    padding-top: 200px;
}

#answer-status {
    display: none;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    font-size: 20px;
}

.answer {
    cursor: pointer;
    border: 2px solid lightgray;
    margin: 20px 5px 20px 5px;
    height: 10%;
    width: 13%;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
}

.scoreContainer {
    display: none;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    padding-top: 200px;
}

/*Media Query styling*/
@media screen and (max-width: 580px) { 
   
    #name  {
        float: left;
        width: 100%;
        text-align: center;
    }
  
    #about  {
      display: block;
    }
  
    #portfolio-container {
        min-width: 100%;
    }
  
    #navbarSupportedContent {
        min-width: 100%;
        justify-content: center;
    }
  }
